body {
    background-color: black;                            /* Achtergrondkleur */
    font-family: 'Open Sans', sans-serif;                 /* Lettertype */
}

h1 {
    text-align: center;                                   /* Tekst centreren */
    font-family: 'Open Sans', sans-serif;                 /* Lettertype */
    color: white;                                       /* Tekstkleur */
}

h2 {
    font-family: 'Open Sans', sans-serif;                 /* Lettertype */
    color: white;                                       /* Tekstkleur */
    flex: 1;                                              /* Gelijkmatige ruimte toevoegen*/
    margin-right: 20px;                                   /* Voeg een marge toe aan de rechterkant */
    float: left;                                          /* Links zweven*/
    width: 70%;                                           /* Breedte van de tekst*/
}

h5 {
    color: white;                                       /* Tekstkleur */
    font-weight: 500;                                     /* Tekstdikte */
    font-size: 16px;                                      /* Tekstgrootte */
}

ul {
    flex: 1;                                              /* Gelijkmatige ruimte toevoegen*/
    margin-right: 20px;                                   /* Voeg een marge toe aan de rechterkant */
    float: left;                                          /* Links zweven*/
    width: 70%;                                           /* Breedte van de list*/
    color: white                                        /* Tekstkleur */
}

h5 a:visited {
    color: white;                                       /* Tekstkleur */
}
nav {
    background-color: white;                            /* Achtergrondkleur */
    overflow: hidden;                                     /* Items gaan niet buiten de navigatiebalk */
    border-radius: 15px;                                  /* Afgeronde hoeken*/
}
  
nav ul {
    list-style-type: none;                                /* Verwijdert de opsommingstekens van de lijst */
    margin: 0;                                            /* Voegt geen ruimte toe */
    padding: 0;                                           /* Voegt geen opvulling toe */
    display: flex;                                        /* Zet de items naast elkaar */
    justify-content: center;                              /* Centraal uitlijnen */
}
  
nav ul li {
    margin: 0 30px;                                       /* Voegt ruimte toe */
    justify-content: center;                              /* Centraal uitlijnen */
    justify-items: center;                                /* Centraal uitlijnen */
    color: black;
}
  
nav ul li a {
    display: block;                                       /* Maakt de hele link klikbaar*/
    color: black;                                       /* Tekstkleur*/
    font-weight: 500;                                     /* Dikte van de tekst*/
    text-align: center;                                   /* Centreert de tekst */
    padding: 14px 20px;                                   /* Voegt opvulling toe */
    text-decoration: none;                                /* Onderstreping verwijderen */
    font-size: 18px;                                      /* Tekstgrootte */
    border-radius: 10px;                                  /* Afgeronde hoeken maken */
    justify-content: center;                              /* Centraal uitlijnen */
    justify-items: center;                                /* Centraal uitlijnen */
}
  
nav ul li a:hover {
    background-color: black;                            /* Achtergrondkleur */
    color: #fff;                                        /* Tekstkleur */
    justify-content: center;                              /* Centraal uitlijnen */
    justify-items: center;                                /* Centraal uitlijnen */
}
  
li {
    font-family: 'Open Sans';                             /* Lettertype*/
    text-shadow: 10px white;                            /* Tekstschaduw*/
}

.container {
    display: flex;                                        /* Maakt en flexbox aan*/
    flex-wrap: wrap;                                      /* Items gaan verder op een nieuwe regel als ze buiten de container gaan*/
    justify-content: space-between;                       /* Verspreid de items gelijkmatig met ruimte ertussen */
    margin: 20px;                                         /* Voeg een marge toe rond de container */
}

.text {
    flex: 1;                                              /* Gelijkmatige ruimte toevoegen*/
    margin-right: 20px;                                   /* Voeg een marge toe aan de rechterkant */
    float: left;                                          /* Links zweven*/
    width: 70%;                                           /* Breedte van de tekst*/
}

ul {
    flex: 1;                                              /* Gelijkmatige ruimte toevoegen*/
    margin-right: 20px;                                   /* Voegt een marge toe aan de rechter kant*/
    float: left;                                          /* Links zweven*/
    width: 70%;                                           /* Breedte van de list*/
}

.image {
    max-width: 30%;                                       /* Maximale breedte van de afbeelding*/
    margin-left: 20px;                                    /* Voegt een marge toe aan de linkerkant */
    margin-top: 10px;                                     /* Voegt een marge toe aan de bovenkant  */
    vertical-align: middle;                               /* Verticaal uitlijnen van de afbeelding */
    float: right;                                         /* Rechts zweven*/
}

.ronde-afbeelding {
    border-radius: 15px;                                  /* Afgeronde hoeken maken */
    max-width: 100%;                                      /* Maximale breedte van de afbeelding */

    height: auto;                                         /* Stelt automatisch een hoogte in*/
}

footer {
    flex: 1;                                              /* Gelijkmatige ruimte toevoegen*/
    margin-right: 20px;                                   /* Wiruimte tovoegen aan de rechterkant */
    float: left;                                          /* Links zweven*/
    clear: both;                                          /* Footer onder elk element*/
    width: 100%;                                          /* Breedte van de footer */
    color: white;                                       /* Tekstkleur*/
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;                           /* Kolom op kleinere apparaten*/
    }
    .image {
        max-width: 50%;                                   /* Maximale breedte van de foto op kleinere apparaten*/
    }
}
