@font-face {
    src: url(fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf);
    font-family: Roboto-Italic;
}


@font-face {
    src: url(fonts/Roboto-VariableFont_wdth\,wght.ttf);
    
}
h1 {
    font-family: Roboto-Italic, verdana, arial;
}

p {
    font-family: "lucida console", "courier new";
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}