text::before{
    content: 'desktop';
    color: goldenrod;
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 500px){
    body{
        background-color: black;
        color: white;
    }
    .text::before{
        content: 'mobile';
        
    }
}