h1::first-letter {
    font-size: 2em;
    font-style: italic;
}

p::first-line {
    background-color: hsl(60, 100%, 77%);
}

p::selection {
    color: rgb(89, 255, 71);
    background-color: hsl(0, 0%, 21%);
}

#appel::after {
    content: 🍎;
}

#sinaasappel::after {
    content: 🍊;
}

#banaan::after {
    content: 🍌;
}

#fruit li::marker {
    content: "✔️";
    color: green;
    font-size: 1.2em;
}